{# templates/admin/section/edit.html.twig -- Edit a section (Admin)  #}

{% extends 'admin/base.html.twig' %}

{% block title %}{{ controller_name }}{% endblock %}
{% block body %}

    <h1 class="my-5">Modifier la section {{ section.title }}</h1>

    {{ include('admin/partials/_form.html.twig', {'button_label': 'Modifier'}) }}

    <a href="{{ path('admin_user_index') }}">Retour à la liste des sections</a>

{% endblock %}
