{# templates/admin/section/new.html.twig -- Create a section (Admin)  #}

{% extends 'admin/base.html.twig' %}

{% block title %} {{ controller_name|trans }} {% endblock %}

{% block body %}
    <h1 class="my-5">Créer une section</h1>

    {{ include('admin/partials/_form.html.twig', {'button_label': 'Créer', 'title': 'Nouvelle section'}) }}

    <a href="{{ path('admin_section_index') }}">Retour à la liste des sections</a>
{% endblock %}
