{# templates/app/page/events.html.twig -- Events page (Front) #}

{% extends 'app/base.html.twig' %}

{% block title %} {{ controller_name|trans }} {% endblock %}

{% block body %}
    <section id="about" class="bg-white bcontainer-fluid">
        <div class="row gx-lg-4 justify-content-center">
            <div class="col-4 row bg-events rounded">
                <div class="col-6"><img src="" alt="Illustration event"/></div>
                <div class="col-6">test</div>
            </div>
        </div>
    </section>
{% endblock %}
