{# templates/app/partials/_footer.html.twig -- Footer of website (Front) #}

<footer class="py-5 bg-dark">
    <div class="container px-4"><p class="m-0 text-center text-white">Copyright &copy; Your Website 2023</p></div>
</footer>